* {
    font-family: helvetica;
}

#container {
    width: 54%;
    margin: auto;
    box-shadow: 0 0 5px #505050;
}

body {
    background-image: url(../images/bg.png);
    background-attachment: fixed;
}

header {
    background-color: white;
    margin: auto;
    height: auto;
}

header img {
    padding: 0.2em 0.5em;
    background-color: #FAFAFA;
    float: right;
    vertical-align: top;
    margin-top: 90px;
    margin-right: 47px;
    border-bottom: 1px solid #F0F0F0;

}

h1 {
    font-size: 52px;
    font-weight: normal;
    color: #606060;
    width: 91%;
    margin: auto;
    padding-bottom: 5px;
    padding-top: 50px;
    font-family: Terminal Dosis;
}

header span {
    font-size: 13px;
    width: 91%;
    margin-left: 4em;
    margin-bottom: 25px;
    color: #606060;
    font-weight: 500;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav {
    width: 91%;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 25px;
}

nav ul {
    background-color: #FAFAFA;
    text-align: center;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
}

nav > ul > li {
    margin-top: 20px;
    width: 16%;
}

nav ul li a {
    text-decoration: none;
    color: #505050;
}


nav ul ul {
    display: none;

}

nav ul ul li {
    height: 33px;
    color: rgb(57, 57, 57);
    background-color: #F4F4F4;
    margin: 0;
}

nav ul li:hover ul {
    padding: 1em;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #F4F4F4;
    height: 99px;

}

h2 {
    text-align: center;
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 11px;
}

main span {
    font-size: 13px;
    width: 91%;
    margin-top: 0;
    margin-left: 17em;
    margin-bottom: 25px;
    color: #606060;
    font-weight: 500;
}

span a {
    text-decoration: none;
    color : rgb(40, 39, 39);
}


main {
    background-color: white;
    margin: auto;
}


main section {
    width: 91%;
    margin: auto;
}

p {
    margin-bottom: 0;
    padding: 1em 0;
}

#separateur {
    width: 91%;
    height: 2.5em;
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
    background-color: #FAFAFA;
    margin: auto;
    margin-bottom: 40px;
}

h3 {
    font-weight: normal;
    color: #494949;
    text-align: center;
    margin-top: 0;
    padding-bottom: 1em;
}
h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1em;
}


footer {
    background-color: white;
    margin: auto;
    vertical-align: top;
}

#archives {
    width: 91%;
    margin: auto;
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
    background-color: #FAFAFA;
    display: flex;
}

footer section {
    width: 21%;
    vertical-align: top;
    margin: auto;
    padding: 1em 1em 2em;
}
.topped {
    align-self: flex-start;
}


@media screen and (max-width: 1000px) {
    #container {
        width: 90%;
    }
    header {
        text-align: center;
    }
    header img {
        margin-top: 16px;
        margin-right: 20px;
    }
    header span {
        margin-left: 0;
    }

    ul {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    ul li {
        text-align: center;
    }
    #archives {
        flex-direction: column;
    }
    footer section {
        width: 90%
    }
    nav ul li {
        width: 50%
    }
    main section {
        text-align: center;
    }
    main span {
        margin-left: 0;
    }
}
